<html>

<!-- WHAT THE FUCK IS THE IMAGE PATH. -->
<body style="background-image: url('/assets/girls.jpg');background-size:cover;"> 
	<div style="background-image: url('/assets/main_background.jpg');background-size:cover;background-repeat: no-repeat;">
		<h1 style="text-align:center;color:gold;font-size:80px;">Groupie<h4 style="text-align:center;padding-left:0px;padding-bottom:20px;font-style:italic;color:purple;">Where groups find their members.</h4></h1>
	</div>
	
	<!-- <img stlye="align:center;" src="http://wallpapercave.com/wp/7X0vSqI.jpg"/> -->
	<p style="text-align:center; width:50%; height:50%;"></p>
</body>
</html>